@model SagPoc.Web.Models.FormMetadata
@using SagPoc.Web.Models

<form id="dynamicForm" class="needs-validation" novalidate>
    <input type="hidden" id="editingRecordId" name="editingRecordId" value="" data-pk-field="@Model.PkColumnName" />

    @{
        // Usa apenas campos da primeira aba (GuiaCamp = 0 ou 1)
        // Campos com GuiaCamp=2 são renderizados na aba "Dados Adicionais" separadamente
        var bevelGroups = Model.GetBevelGroupsForFirstTab();
    }

    @foreach (var group in bevelGroups)
    {
        if (group.HasBevel)
        {
            <fieldset class="bevel-group">
                @* Usa HasBevelCaption (LbcxCamp != 0) para determinar se mostra o label *@
                @if (group.Bevel!.HasBevelCaption && !string.IsNullOrEmpty(group.Bevel.LabeCamp))
                {
                    <legend>@group.Bevel.LabeCamp</legend>
                }
                <div class="bevel-content">
                    @{
                        var fieldRows = group.GetFieldRows();
                    }
                    @foreach (var row in fieldRows)
                    {
                        @await Html.PartialAsync("_FieldRowRenderer", row)
                    }
                </div>
            </fieldset>
        }
        else
        {
            <div class="orphan-fields">
                @{
                    var orphanRows = group.GetFieldRows();
                }
                @foreach (var row in orphanRows)
                {
                    @await Html.PartialAsync("_FieldRowRenderer", row)
                }
            </div>
        }
    }
</form>

<div class="d-flex justify-content-end gap-2 mt-4">
    <button type="submit" form="dynamicForm" class="btn btn-primary">
        <i class="bi bi-check-lg"></i> Salvar
    </button>
    <button type="button" class="btn btn-outline-secondary" id="btnCancelar">
        <i class="bi bi-x-lg"></i> Cancelar
    </button>
</div>
